.genre {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.genre:first-letter {
  color: #d12f26;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.movieCard:hover {
  opacity: 0.8;
}

@media (max-width: 560px) {
  .movieGrid {
    grid-template-columns: 100%;
  }
}
