.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #212529;
}

.detailsContainerMax {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #212529;
}

.col {
  max-width: 400px;
  margin: 15px;
  height: auto;
  width: 80%;
}

.movieImage {
  border-radius: 15px;
}

.movieDetails {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.firstItem {
  margin-top: 0;
}
