.title {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.title:first-letter {
  color: #d12f26;
}
