/* .container {
  margin-top: 30px;
  height: auto;
  width: 80%;
  padding-right: 30px;
  padding-left: 30px;
} */

.trendingMovieTitle {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.trendingMovieTitle:first-letter {
  color: #d12f26;
}

.movie {
  @media (min-width: 576px) {
    maxwidth: 434px;
    maxheight: 562px;
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    maxwidth: 434px;
    maxheight: 562px;
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    maxwidth: 434px;
    maxheight: 562px;
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    maxwidth: 434px;
    maxheight: 562px;
  }
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    maxwidth: 434px;
    maxheight: 562px;
  }
}
