/* .container {
  margin-top: 30px;
  height: auto;
  width: 80%;
  padding-right: 30px;
  padding-left: 30px;
} */

.trendingMovieTitle {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.trendingMovieTitle:first-letter {
  color: #d12f26;
}

@media (min-width: 576px) {
  .carouselSize {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .carouselSize {
    width: 50%;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    width: 90vw
    margin: auto 
  } */
/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    width: 90vw
    margin: auto 
  } */
/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    width: 90vw
    margin: auto 
  } */
