body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529 !important;
  color: rgba(255, 255, 255, 0.5);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
}

.App {
  text-align: center;
}

#basic-nav-dropdown {
  color: rgba(255, 255, 255, 0.5);
  background-color: #212529 !important;
}

div.dropdown-menu.show {
  background-color: #212529 !important;
}

#nav-dropdown-search {
  color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: "Barlow", sans-serif;
}
