body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529 !important;
  color: rgba(255, 255, 255, 0.5);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
}

.App {
  text-align: center;
}

#basic-nav-dropdown {
  color: rgba(255, 255, 255, 0.5);
  background-color: #212529 !important;
}

div.dropdown-menu.show {
  background-color: #212529 !important;
}

#nav-dropdown-search {
  color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: "Barlow", sans-serif;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: red !important;
  background-color: transparent !important;
}

#basic-nav-dropdown:hover {
  color: red !important;
  background-color: transparent !important;
}

.navbar-toggler-icon {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
  filter: invert(100%);
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}
